// Sizes
$size-mobile: 320px;
$size-tablet: 768px;
$size-desktop: 1280px;

// Colors
$color-primary: #10454f;
$color-secondary: #506266;
$color-tertiary: #818274;
$color-white: #fff;
$color-black: #000;

// Fonts
$poppins: var(--font-poppins);
